body{
	font-family: "微软雅黑", "Times New Roman", Georgia, Serif;
}
.divmain{
	margin: 0 auto;
	width: 960px;
	//border: 1px solid #000;
}
.btn{
	background-color: #8AC007;
	color: #ffffff;
	border-radius: 4px;
	//text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn:hover { background-color:#ffffff;color:#8AC007; }
textarea{ /*  定义textarea边框样式  */
	border: 1px solid #ccc;
	border-radius: 4px;
	width: 100%;
	overflow: auto;
	vertical-align: top;
	resize: vertical;
	opacity: 1;
}
#result{
	border: 1px solid #CECECE;
	background-color: #CECECE;
	border-radius: 4px;
	width: 100%;
	overflow: auto;
	vertical-align: top;
	resize: vertical;
	opacity: 1;
}
